In [14]:
import pandas as pd
df = pd.read_csv('dulieuxettuyendaihoc.csv',header=0,delimiter=',',encoding='utf-8')
df

       MSSV GT  DT   KV    M1    M2    M3  KT    NGAYTHI DINHHUONGNGHENGHIEP
0     SV001  F NaN  2NT  3.25  3.25  4.50  A1  12/7/2018                  No
1     SV002  M NaN    1  6.00  4.00  3.50   C  12/7/2018                 Yes
2     SV003  M NaN    1  5.00  6.75  4.00   C  12/7/2018                  No
3     SV004  M NaN    1  4.25  4.25  5.25  D1  12/7/2018                  No
4     SV005  M NaN  2NT  4.25  4.50  5.00   A  12/7/2018                  No
..      ... ..  ..  ...   ...   ...   ...  ..        ...                 ...
95   SV0096  F NaN    1  5.25  1.50  6.25   C  7/20/2022                 Yes
96   SV0097  F NaN    1  5.25  3.75  4.75   C  7/20/2022                  No
97   SV0098  M NaN  2NT  7.00  8.00  4.00   C  7/20/2022                 Yes
98   SV0099  M NaN    1  5.00  3.50  5.50   C  7/20/2022                  No
99  SV00100  M NaN  2NT  5.25  2.50  4.25   C  7/20/2022                 Yes

[100 rows x 10 columns]

In [15]:
print(f'{df["M1"].min()}\n{df["M1"].max()}\n')
print(f'{df["M1"].mean()}\n{df["M1"].median()}\n')
print(f'{df["KT"].mode()}\n')
#phân vị thứ 9 có tỉ lệ là 0.9
print(f'{df["M2"].quantile(0.9)}\n')
print(f'{df["M1"].quantile(0.9)}\n')

1.0
7.0

3.74
3.625

0    A
Name: KT, dtype: object

5.5

5.300000000000004

In [16]:
range= df['M1'].max() - df['M1'].min()
range
#cac đại lượng do lường biến động

np.float64(6.0)

In [17]:
df['M1'].quantile(0.75) - df['M1'].quantile(0.25)
#độ lớn IQR của M2 là bao nhiu

np.float64(2.25)

In [18]:
np.mean(np.abs(df['M1'] - np.mean(df['M1'])))

NameError: name 'np' is not defined

In [ ]:
df[['M1','M2']].max() - df[['M1','M2']].min()

In [ ]:
df['M1'].var()

In [ ]:
df['M1'].std()

In [ ]:
print(df[['M1','M2']].mean())
print(df[['M1','M2']].std())

In [ ]:
df[['M1','M2']].std()/df[['M1','M2']].mean()

In [ ]:
df['M1'].describe()

In [ ]:
df[['M1','M2','M3']].describe()

In [ ]:
cv = df[['M1','M2','M3']].std() / df[['M1','M2','M3']].mean()
list(cv)

In [ ]:
df.groupby('GT')['M1'].describe()

In [ ]:

df.groupby('GT')['M2'].std()/df.groupby('GT')['M2'].mean()

In [ ]:
df['M1'].hist()
plt.show()

In [ ]:
df['M1'].hist(bins=14)
plt.show()

In [ ]:
sns.displot(df, x='M1', kind='kde')
plt.show()

In [ ]:
sns.displot(data = df[['M1','M2','M3']], kind='kde')
plt.show()

In [ ]:
sns.displot(df, x='M1', hue='GT', kind='kde')
plt.show()

In [ ]:
df['M1'].skew()

In [ ]:
df[['M1','M2','M3']].skew()

: